@import '../../Styles/mixins.scss';

:local(.styles) {
  position: relative;
  
  @media (#{$phone}) {
    height: 360px;
  }

  @media (#{$desktop}) {
    height: 360px;
  }

  @media (#{$large-desktop}) {
    height: 345px;
  }
}