:local(.styles) {
  margin-top: 20px;
  
  text-transform: lowercase;

  font-size: 12px;
  line-height: 14px;

  ul {
    padding: 0;
    margin-left: 10px;

    list-style-type: none;

    &::first-letter {
      text-transform: uppercase;
    }

    li {
      margin: 7px 0;
      padding: 0;

      &:hover {
        background: rgba(0, 0, 0, .03);
      }

      &.active {
        background: rgba(0, 0, 0, .05);
      }
    }
  }

  .countries {
    margin-bottom: 10px;

    .country {
      font-weight: 600;
    }
  }

  .cities {

    .city {
      font-weight: 400;
    }
  }

  .shops {
    margin-bottom: 10px;
    
    .shop {
      font-weight: 100;
    }
  }
}